# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Log]s/
[Pp]ublish/

# Visual Studio cache and settings
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.docstates

# Other files
run_output.txt

# Packaging and Installers
*.msix
*.appx
*.msixbundle
*.appxbundle
*.cer
*.pfx
package_staging/
packaging_tools/
